html,
body {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.imagesetting{
  padding-top: 20px;

}
.timing{
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.name{
  margin-left: 20px;
}
.backset{
  background-image: url("/two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
